@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: 0.3s;
}

body {
  background: #f9faff;
}

:root {
  --primary: #363853;
  --secondary: #ff7a50;
  --font: "Rubik", sans-serif;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

.header {
  height: 100vh;
  overflow: hidden;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.logo {
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 5%;
  color: var(--primary);
  font-family: var(--font);
}

.logo span {
  color: var(--secondary);
}

.nav__right,
.list,
.controls {
  display: flex;
  align-items: center;
  gap: 30px;
}

.list__link {
  font-size: 18px;
  color: var(--primary);
  font-family: var(--font);
}

.list__link:hover {
  color: var(--secondary);
}

.fa-search,
.fa-shopping-cart {
  font-size: 20px;
  color: var(--primary);
  cursor: pointer;
}

.signUp {
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--secondary);
  color: white;
  font-family: var(--font);
  box-shadow: 0px 22px 40px 0px #ff683830;
}

.header__info {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 55px;
}

.header__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 66px;
  font-weight: 500;
  color: var(--primary);
  font-family: var(--font);
}

.title span {
  color: var(--secondary);
}

.text {
  font-size: 20px;
  color: var(--primary);
  font-family: var(--font);
  line-height: 30px;
  text-transform: capitalize;
  letter-spacing: 5%;
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 25px;
}

.explore {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--secondary);
  color: white;
  font-family: var(--font);
  box-shadow: 0px 22px 40px 0px #ff683830;
  cursor: pointer;
}

.app {
  font-size: 18px;
  color: var(--primary);
  font-family: var(--font);
  text-decoration: underline;
  cursor: pointer;
}

.modalForm {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.281);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}

.modalForm form {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.modalForm form > input {
  width: 320px;
  height: 50px;
  border: none;
  border-radius: 40px;
  padding: 0 10px;
  font-size: 16px;
  font-family: var(--font);
  outline: none;
  font-size: 18px;
}

.modalForm form > input::placeholder {
  font-family: var(--font);
  font-size: 20px;
}

.modalForm form > button {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 40px;
  background-color: var(--secondary);
  color: white;
  font-family: var(--font);
  cursor: pointer;
  font-size: 24px;
}

.fa-times {
  padding: 15px 20px;
  background-color: var(--secondary);
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
}

#searchModal {
  display: none;
}

#searchModal:checked ~ .modalForm {
  transform: translateY(0px);
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.types p {
  font-size: 37px;
  margin-top: 15px;
  color: var(--primary);
}

.btn {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--secondary);
  color: white;
  font-family: var(--font);
  box-shadow: 0px 22px 40px 0px #ff683830;
  cursor: pointer;
}

.btn a {
  color: white;
}

.types span {
  color: var(--secondary);
}

.top span {
  color: var(--secondary);
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 1169;
  height: 497;
  cursor: pointer;
}

.cards p {
  color: gray;
}

.img1 {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}
.img2 {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}
.img3 {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}
.card1 {
  width: 361;
  height: 417;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-radius: 50px 32px 32px 0;
}
.card2 {
  width: 361;
  height: 417;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-radius: 50px 32px 32px 0;
}
.card3 {
  width: 361;
  height: 417;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-radius: 50px 32px 32px 0;
}
.main__info{
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 250px;
}
.main__left{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main__title{
  font-size: 66px;
  font-weight: 500;
  color: var(--primary);
  font-family: var(--font);
}
.main-txt{
  font-size: 25px;
  color: var(--primary);
  font-family: var(--font);
  line-height: 30px;
  text-transform: capitalize;
  letter-spacing: 5%;
}
.main__title span{
  color: var(--secondary);
}

.end{
  margin-top: 25px;
}

.tugadi{
  align-items: center;
  display: flex;
  justify-content: center;
}

.uzum {
    background-color: #ff7d52;
    width: 1170px;
    height: 312px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.uzum h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 600;
}

.finaly {
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    width: 70%;
    max-width: 800px;
    justify-content: space-between;
}
.finaly button {
    background-color: #ff7d52;
    color: white;
    border: none;
    padding: 15px 45px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.finaly input {
    border: none;
    outline: none;
    padding: 10px 25px;
    font-size: 18px;
    width: 70%;
    border-radius: 50px;
}